.mbody {
  background-color: rgb(66, 61, 61);
  background-size: cover;
  color: aqua;
  background-attachment: fixed;
}
.tImage {
  background-color: black;
  text-align: center;
  margin: auto;
  font-size: large;
  align-items: center;
  width: 10em;
}
.andy {
  background: black;
  text-align: center;
  margin: auto;
  font-size: large;
  align-items: center;
  width: 10em;
}
.textTable {
  background-color: black;
  text-align: center;
  margin: auto;
  font-size: large;
  align-items: center;
  opacity: 80%;
  max-width: 35em;
}
.achievements {
  display: flex;
  background-color: black;
  color: aqua;
  opacity: 90%;
  justify-items: center;
  margin: auto;
  width: 70em;
}
.b_table {
  border: 1px inset aqua;
  border-color: aqua;
  border-width: 5px;
  text-align: center;
  width: 50em;
  height: 2em;
}
.tHead {
  text-align: middle;
  margin: auto;
}
.links {
  color: rgb(102, 102, 223);
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Full viewport height */
  margin: auto;
}
.paragraph {
  align-items: center;
}
.bigcaes {
  width: auto;
}
.headTable {
  background-color: black;
  text-align: center;
  margin: auto;
  font-size: large;
  align-items: center;
  opacity: 80%;
  max-width: 110%;
  width: 110%;
  margin-top: -6pt;
  margin-left: -10pt;
}
.theimages {
  width: 35em;
  height: auto;
}
